/*@media(max-width: 1200px){
	.container{
		width: 100%;
	}
}
@media(max-width: 400px){
	.home{
		width: 100%;
	}
	.img img{
		width: 100%;

	}
	.best besy{
		width:100%;

	}
	.happy-birthday{
		width: 100%;
	}
}
@media(max-width: 400px){
	.page3{
		width: 1500px;
	}*/
